body {
    background-image: url("images/bg2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.header {
    margin-left: 15px;
    margin-right: 15px;
    border-width: 5px;
    border-style: dashed;
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.right {
    float:right;
    width: 35%;
}

.img-right {
    border-width: 10px;
    border-style: solid;
    border-color: brown;
    margin-top: 25px;
    margin-right: 45px;
    float: right;
    width: 380px;
    height: auto;
}

.left {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:brown;
    line-height: 100px;
    font-size: 40px;
    float:left;
    width: 50%;
}

.left-recipe {
    font-size: 20px;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.497);
}


a {
    color: white;
}

.back {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color:black;
}